[Unit]
Description=Hydropi
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
PIDFile=/run/hydropi/pid
User = pi
Group = pi
WorkingDirectory=/home/pi/hydro/hydropi
Environment="PATH=/home/pi/hydro/venv/bin"
ExecStart=/home/pi/hydro/venv/bin/python run.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=15
PrivateTmp=true

[Install]
WantedBy=multi-user.target
